.home {
  &-quiz {
    &__h2 {
        border-bottom: 3px dotted;
        padding-bottom: 8px;
        margin-bottom: 16px;
      }
    &__introduction,
    &__setting,
    &__ranking
     {
      padding: 5px 10px;
    }
  }
}
