.quiz {
    &-h2 {
        border-bottom: dotted;
        padding-bottom: 8px;
        margin-bottom: 16px;
    }
    &-answer__list {
        background: #c5e4ff;

        ul {
            padding: 20px 10px;

            li {
                list-style: none;
                margin: 10px 0px;
            }
        }
    }

    &-correct {
        &-answer {
            width: 10%;
        }
    }

    &-commentary {
        &__text {
            padding: 20px 20px;
        }
    }
}
