.fa-facebook,
.fa-line,
.fa-twitter
 {
  color: white;
}

.twitter,
.facebook,
.line {
     &__share {
        border-radius: 5px;
        color: white;
        padding: 4px 8px;
        margin: 8px;
        cursor: pointer;
     }
}


.twitter {
  &__share {
    border: solid 0.5px $twitter-blue;
    background-color: $twitter-blue;
  }
}

.facebook {
  &__share {
    border: solid 0.5px $facebook-blue;
    background-color: $facebook-blue;
  }
}

.line {
  &__share {
    border: solid 0.5px $line-green;
    background-color: $line-green;
  }
}
