header {
  background: $white;

  h1 {
    font-size: 16px;
  }


  .navbar-brand {
    color: $white;
  }

  .navbar {
    background: rgb(51, 85, 105);
    border-color: rgb(51, 85, 105);
  }

  .header {
    &-nav__logo {
      width: 200px;
      margin-top: -15px;
    }
    &-nav__drop-down {
      background: rgb(51, 85, 105);
    }
  }

  #header {
    &-nav {
      &__home,
      &__login,
      &__register,
      &__name,
      &__mypage {
        color: $white;
      }
      &__mypage,
      &__logout {
        color: $white;
        margin: auto;
      }
    }
  }
}
